*.pyc

.cache/*
tests/.cache/*
tests/.pytest_cache/*

figures/*/.snakemake/*
figures/*/tex/*

.ipynb_checkpoints/*

/multiarea_model/data_multiarea/viscortex_raw_data.json
/multiarea_model/data_multiarea/viscortex_processed_data.json

config.py
